<style>
    .container {
        width: 1120px;
        margin: 0 auto;
    }
</style>
<div class="container">
    <h1 style="text-align: center; margin: 60px 0">{{ quiz }}</h1>
    {% for list in quiz.question.all %}
        <h1>Вопрос</h1>
        <h2>{{ list.text }}</h2>
        {% for an in list.answer.all %}
            <form action="{% url 'checking' %}" method="post" id="data">
            {% csrf_token %}
            <label>{{ an.text }}<input type="radio" name="checkRadios" value="{{ an.text }}"></label>
            <br>
        {% endfor %}
    <button >Отправить</button>
    </form>
    {% endfor %}
<button form="data">press</button>
</div>


